In [1]:
#import dependencies

import os
import pandas as pd

In [2]:
#read excel data

data = pd.read_excel('BankNiftyFutures_Data5Min.xlsx')
df = pd.DataFrame(data)
df

,Ticker,Date,Final Date format,Time,Open 5,High 5,Low 5,Close 5,Volume 5,Year
0,BANKNIFTY_F1,2015-01-01,20150101,09:20:00,18861.3496,18867.9492,18793.0000,18808.3496,84825,2015
1,BANKNIFTY_F1,2015-01-01,20150101,09:25:00,18808.0000,18835.0000,18802.1992,18829.0000,40925,2015
2,BANKNIFTY_F1,2015-01-01,20150101,09:30:00,18826.9492,18833.4004,18820.0000,18826.0996,27000,2015
3,BANKNIFTY_F1,2015-01-01,20150101,09:35:00,18825.0508,18829.0996,18810.0000,18810.0000,18025,2015
4,BANKNIFTY_F1,2015-01-01,20150101,09:40:00,18805.0000,18808.9492,18775.0000,18803.9492,60100,2015
...,...,...,...,...,...,...,...,...,...,...
91732,BANKNIFTY_F1,2019-12-31,20191231,15:06:00,32398.1992,32400.0000,32382.8008,32389.0000,18900,2019
91733,BANKNIFTY_F1,2019-12-31,20191231,15:11:00,32390.3496,32390.4004,32382.0000,32382.0000,26820,2019
91734,BANKNIFTY_F1,2019-12-31,20191231,15:16:00,32383.5000,32386.8008,32320.0000,32320.8008,128780,2019
91735,BANKNIFTY_F1,2019-12-31,20191231,15:21:00,32327.8008,32392.6992,32324.4492,32371.6992,80260,2019
91736,BANKNIFTY_F1,2019-12-31,20191231,15:26:00,32365.9004,32387.0996,32360.1504,32379.9004,50260,2019

In [17]:
def calculateVwap(data):
    data['TP'] = (data['High 5']+data['Low 5']+data['Close 5'])/3.0
    data['TradedValue']  = data['TP']*data['Volume 5']
    data['CumVolume'] = data['Volume 5'].cumsum()
    data['CumTradedValue'] = data['TradedValue'].cumsum()
    data['VWAP'] = data['CumTradedValue'] /data['CumVolume']
    return data

df1 = df.groupby('Date').apply(calculateVwap)

In [19]:
df1.tail(5)

,Ticker,Date,Final Date format,Time,Open 5,High 5,Low 5,Close 5,Volume 5,Year,TP,TradedValue,CumVolume,CumTradedValue,VWAP
91732,BANKNIFTY_F1,2019-12-31,20191231,15:06:00,32398.1992,32400.0000,32382.8008,32389.0000,18900,2019,32390.600267,6.121823e+08,2035300,6.596757e+10,32411.719512
91733,BANKNIFTY_F1,2019-12-31,20191231,15:11:00,32390.3496,32390.4004,32382.0000,32382.0000,26820,2019,32384.800133,8.685603e+08,2062120,6.683613e+10,32411.369398
91734,BANKNIFTY_F1,2019-12-31,20191231,15:16:00,32383.5000,32386.8008,32320.0000,32320.8008,128780,2019,32342.533867,4.165072e+09,2190900,7.100120e+10,32407.323280
91735,BANKNIFTY_F1,2019-12-31,20191231,15:21:00,32327.8008,32392.6992,32324.4492,32371.6992,80260,2019,32362.949200,2.597450e+09,2271160,7.359865e+10,32405.755155
91736,BANKNIFTY_F1,2019-12-31,20191231,15:26:00,32365.9004,32387.0996,32360.1504,32379.9004,50260,2019,32375.716800,1.627204e+09,2321420,7.522586e+10,32405.104808